
html, body {
    font-family: 'Nunito', sans-serif;
}
body {
    color: #212529;
    background-color: #fff;
}
.container {
    max-width: 1200px;
}
:root {
    --coloer-primary: #dc4f72; 
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --white-color: #fff;
    --hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    
    --bg-color: #fff;
    --bg-color1: #F7F9FC;
    --block1-bg-color: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92));
    --block6-bg-item-color: #fff;
    --block6-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --block6-border: #eee;
}
[data-theme="dark"] {
    --coloer-primary: #dc4f72; 
    --white-color: #fff;
    --light-bg-color: #F7F9FC;
    --hover-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.09);

    --bg-color: #151515;
    --bg-color1: #222;
    --title-color: #ddd;
    --text-color: #afafaf;
    --block1-bg-color: linear-gradient(to right, #000, rgba(255, 255, 255, 0.92));
    
    
    --block6-bg-item-color: #222;
    --block6-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.09);
    --block6-border: #222;

}

.display-none {
    display: none !important;
}
.display-block {
    display: block !important;
}

.btn-style-primary {
    line-height: 52px;
    padding: 0 30px;
    color: var(--coloer-primary);
    border-color: var(--coloer-primary);
}
/* buttom style */
.btn-style {
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--coloer-primary);
    background-color: var(--white-color);
    border: 1px solid var(--coloer-primary);
    transition: all .3s ease-out;
}
.btn-style:hover {
    color: white;
    background-color: var(--coloer-primary);
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    z-index: 12;
    /* background-color: var(--white-color); */
    background-color: var(--bg-color);
    transition: all 0.5s;
    padding: 15px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
header .container {
    display: flex;
    justify-content: space-between;
}
header .navbar {
    padding: 0;
    max-width: 1150px;
    flex-grow: 1;
}
.navbar-light .navbar-brand {
    color: var(--coloer-primary);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
}
.navbar-light .navbar-brand i {
    margin-right: 6px;
}
header #navbarNavDropdown {
    justify-content: end;
}
header .navbar-nav {
    align-items: center;
}
header .navbar-nav .nav-item {
    padding: 0 8px;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--title-color);
    position: relative;
}
.navbar-light .navbar-nav .active>.nav-link {
    color: var(--coloer-primary);
}
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--coloer-primary);
    transition: all .5s;
}
.navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--coloer-primary);
    bottom: 4px;
    transition: all .5s;
}
.navbar-light .navbar-nav .nav-link:hover:before {
    width: 20px;
}
.navbar-light .navbar-brand:hover {
    color: var(--coloer-primary);
}
header .btn__header{
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 15px;
    transition: all .5s;
}
header .btn__header:hover {
    color: white;
    background-color: var(--coloer-primary);
}
.navbar-light .navbar-toggler {
    background-color: var(--coloer-primary);
    color: #fff;
    outline: none;
}

.nav-item.dropdown {
    text-align: center;
    display: block;
    transition: all .5s;

}

.dropdown-menu {
    position: relative;
    left: -40px;
    top: 50px;
    background-color: var(--bg-color1);
}
.dropdown-item {
    color: var(--title-color);
}
.dropdown-menu::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background: var(--bg-color1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    top: -7px;
    left: 49%;
    z-index: 1;
}
.dropdown-menu a {
    position: relative;
    transition: all .3s;
}
.dropdown-menu a::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--coloer-primary);
    bottom: 4px;
    transition: all .5s;
}
.dropdown-item:hover {
    color: var(--coloer-primary);
    background-color: var(--bg-color1);
}
.dropdown-item:hover::before {
    width: 20px;
}
/* light-dark */
.theme-switch-wrapper {
    font-size: 24px;
    cursor: pointer;
    width: 50px;
}
#checkbox {
    /* appearance: none; */
    display: none;
}
.theme-switch {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
}
.theme-switch i{
    color: var(--title-color);

}


.mode-container i:nth-child(1){
    display: none;
}

/*  */
/* end header */


/* block1 */
.block1 {
    margin-top: 84px;
}
.block1__content {
    padding-top: 80px;
    background: var(--white-color);
    z-index: 1;
    background-image: var(--block1-bg-color), url(./img/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.block1__content .container {
    display: flex;
    align-items: center;
}
.block1__left,
.block1__right {
    width: 50%;
}
.block1__left h3 {
    font-size: 50px;
    line-height: 1.3;
    color: var(--title-color);
    font-weight: 700;
}
.block1__left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 16px 100px 48px 0;
}
.block1__left button {
    background-color: var(--bg-color);
}
.block1__right img  {
    transform: rotate(180deg);
}

/* end block1 */
.header__title {
    max-width: 750px;
    margin: auto;
}
.header__title h6 {
    font-weight: 700;
    color: var(--coloer-primary);
}
.header__title h3 {
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    color: var(--title-color);
}
.header__title p {
    margin: 16px 0;
    color: var(--text-color);
}

/* block2 chooes-us */
#choose-us {
    padding: 64px 0;
    text-align: center;
    background-color: var(--bg-color);
}

#choose-us .header__title {
    text-align: center;
}
.choose-us__container {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    
}
.choose-us_item {
    width: 33.333%;
    padding: 0 15px;
    margin-top: 48px;
}
.choose-us__content {
    padding: 48px 32px;
    background-color: var(--bg-color1);
    border-radius: 6px;
    border: 1px solid var(--bg-color1);
    transition: all .3s ease-in;
    
}
.choose-us__content:hover {
    background-color: var(--bg-color);
    border-color: var(--bg-color1);
    box-shadow: var(--bg-color);
    transform: translateY(-8px);
}
.choose-us__content a {
    text-decoration: none;
}
.choose-us__content img {
    max-width: 100%;
}
.choose-us__content h3 {
    color: var(--title-color);
    margin: 16px 0;
    font-weight: 700;
}
.choose-us__content p {
    color: var(--text-color);
}
/* end block2 chooes-us */


/* block3 about-our */
#about-our {
    padding: 78px 0 48px;
    background-color: var(--bg-color1);
}
.about-our__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}
.about-our__left,
.about-our__right {
    width: 50%;
}
.about-our__left {
    padding: 0 48px 0 15px;
}
.about-our__left h3 {
    font-size: 35px;
    margin-bottom: 24px;
}
.about-our__left p {
    margin-bottom: 48px;
}
.about-our__left button {
    color: white;
    background-color: var(--coloer-primary);

}
.about-our__left button:hover {
    background-color: #d62f58;
    border-color: #d62f58;
}
.about-our__right {
    padding: 0 15px 0 48px;
}
.about-our__right img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    transition: all .3s ease-in-out;
}
.about-our__right img:hover {
    transform: translateY(-8px);
}
/* block3 end about-our */

/* block4 numbers */
#numbers {
    padding: 24px 0 48px;
    background-color: var(--bg-color1);
}
.numbers__container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.numbers__item {
    width: 33.333%;
    padding: 0 15px;
}
.numbers-content {
    background-color: var(--bg-color);
    padding: 32px;
    border-radius: 6px;
    border: 1px solid var(--bg-color);
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: all .3s ease;
}
.numbers-content:hover {
    box-shadow: var(--hover-box-shadow);
}
.numbers-content h4 {
    font-size: 16px;
    color: var(--title-color);
    font-weight: 700;
}
.numbers-content h2 {
    font-size: 50px;
    color: var(--coloer-primary);
    font-weight: 700;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.numbers-content p {
    margin-bottom: 0;
    color: var(--text-color);

}
/* block4 end numbers */

/* block5 */
#block5 {
    padding: 90px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(./img/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.block5__content {
    max-width: 550px;
}
.block5__content h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}
.block5__content p {
    margin: 24px 0 48px 0;
    color: #eeeeee;
}
.block5__content button {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.block5__content button:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #e2e6ea;
}
/* block5 end */

/* block6 */
#block6 {
    background-color: var(--bg-color);
    padding: 48px 0;
}
#block6 .header__title {
    text-align: center;
}
.block6__container {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.block6__item {
    width: 33.333%;
    padding: 0 15px;
}
.block6__content {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid var(--block6-border);
    transition: all .3s ease-in;
}
.block6__img img {
    width: 100%;
    filter: grayscale(1);
    transition: all .3s ease-in;
}
.block6__img a {
    position: relative;
    display: inline-block;
}
.block6__img a p {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #fff;
    padding: 15px;
    font-weight: 700;
    margin: 0;
    display: block;
    background-color: var(--coloer-primary);
}
.block6__info {
    padding: 30px 20px;
    background-color: var(--block6-bg-item-color);
}
.block6__info span {
    display: inline-block;
    font-size: 13px;
    color: var(--coloer-primary);
    background-color: rgba(238, 97, 120, 0.2);
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.block6__info h4 a {
    color: var(--title-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    transition: all .3s ease-in;
}
.block6__info p {
    color: var(--text-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.block6__info > a {
    display: inline-block;
    color: var(--coloer-primary);
    text-decoration: none;
}
.block6__info > a i {
    font-size: 10px;
    vertical-align: middle;
    transition: all .3s ease-in;
}

.block6__item:nth-child(2) .block6__info span {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}
.block6__item:nth-child(3) .block6__info span {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}


/* block6 hover */
.block6__content:hover {
    transform: translateY(-8px);
    box-shadow: var(--block6-box-shadow);
}
.block6__content:hover img {
    filter: grayscale(0);
}
.block6__content:hover h4 a {
    color: var(--coloer-primary);
}
.block6__content:hover .block6__info > a i {
    transform: translateX(5px);
}


/* block6 end */






@media (max-width: 991px) {
    header .navbar {
        padding: 0;
    }
    .container {
    max-width: 100%;
    padding: 0 30px;
    margin-right: auto;
    margin-left: auto;
    }
    /* light-drack */
    header .container {
        position: relative;
    }
    .theme-switch-wrapper {
        position: absolute;
        top: 9px;
        right: 84px;
    }
    #icon-moon {
        margin-top: 4px;
    }
    /* end light-drack */

        /* header */
    .navbar-light .navbar-toggler {
        color: #fff;
        background-color: var(--coloer-primary);
    }
    .navbar-nav .dropdown-menu {
        margin-top: 10px;
    }
    .dropdown-menu::before {
        top: 43px;
    }

    header .navbar-toggler i:nth-child(2) {
        display: none;
    }
    /* end header */

    /* block1 */
    .block1 {
        margin-top: 78px;
    }
    .block1__content .container {
        flex-direction: column;
    }
    .block1__left,
    .block1__right {
        width: 100%;
    }
    .block1__left p{
        margin-bottom: 24px;
        margin-right: 40%;
    }
    .block1__right {
        margin-top: 48px;
    }
    /* end block1 */

    /* block2 chooes-us */

    .choose-us__container {
        flex-wrap: wrap;
        margin: 0  -15px;
        
    }
    .choose-us_item {
        width: 50%;
    }
    .choose-us_item:nth-child(3) {
        width: 100%;
    }
    /* end block2 chooes-us */


    /* block3 about-our */
    .about-our__list {
        margin: 0;
    }
    .about-our__left,
    .about-our__right {
        width: 100%;
        padding: 0;
    }
    .about-our__left {
        margin: 0;
        max-width: 100%;
        margin-bottom: 48px;
    }
    /* block3 end about-our */

     /* block4 numbers */
    .numbers__container {
        margin: 0 -15px;
    }
    .numbers__item {
        width: 50%;
    }
    .numbers__item:nth-child(3) {
        margin-top: 48px;
    }
    .numbers-content h4 {
        font-size: 18px;
    }
    .numbers-content h2 {
        font-size: 40px;
    }
    /* block4 end numbers */

    /* block5 */
    .block5__content {
        padding-left: 0;
    }
    /* block5 end */

    /* block6 */
    .block6__item {
        width: 50%;
    }
    .block6__item:nth-child(3) {
        margin-top: 48px;
        margin-left: 25%;
    }
    /* block6 end */
}


@media (max-width: 767px) {
    /* block2 chooes-us */

    .choose-us_item {
        width: 100%;
    }
    .header__title h3 {
        font-size: 40px;
    }
    /* end block2 chooes-us */

    /* block5 */
    .block5__content p {
        margin-bottom: 68px;
    }
    /* block5 end */

    /* block6 */
    .block6__item {
        width: 100%;
        margin-top: 48px;
    }
    .block6__item:nth-child(3) {
        margin-left: 0;
    }
    /* block6 end */
}

@media (max-width: 575px) {

    /* light-dark */
    .theme-switch-wrapper {
        right: 68px;
    }

    .container {
        padding: 0 15px;
    }
    /* block1 */
    .block1__left h3 {
        font-size: 40px;
    }
    .block1__left p{
        margin-right: 8px;
    }
    /* end block1 */

    /* block2 chooes-us */
    .header__title h3 {
        font-size: 32px;
    }
    /* end block2 chooes-us */

    /* block3 about-our */
    .about-our__left h3 {
        font-size: 35px;
        margin-bottom: 16px;
    }
    .about-our__left p {
        margin-bottom: 24px;
    }
    /* block3 end about-our */

    /* block4 numbers */
    .numbers__item {
        width: 100%;
    }
    .numbers__item:nth-child(2),
    .numbers__item:nth-child(3) {
        margin-top: 24px;
    }
    /* block4 end numbers */

    /* block5 */

    /* block5 end */

    /* block6 */

    /* block6 end */
}